# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Production / Build files
# =========================
dist/
build/
out/

# =========================
# Environment variables (SECRETS)
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.swp

# =========================
# Testing
# =========================
coverage/

# =========================
# Misc
# =========================
*.local
